body{
    background-color: #f6f8fa;
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 1% 15%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    color: #75797f;
    margin-bottom: 0%;
}

header ul{
    list-style: none;
    display: flex;
}

header p{
    font-weight: 600;
    font-size: 20px;
}

header ul li a{
    padding-left: 8px;
    font-size: 20px;
    color: #75797f;
    
}

section{
    position: relative;
    margin: 1% 15%;
    color: rgb(29, 29, 29);
    box-shadow: 0px 2px 31px -7px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 0px 2px 31px -7px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 2px 31px -7px rgba(0, 0, 0, 0.33);
    border-radius: 20px 20px 0px 0px !important;
}

.short-info{
    padding: 4% 4%;
    background-color: #4a89dc;
    border-radius: 20px 20px 0px 0px !important;
}

.short-info img{
    position: absolute;
    top: 60;
    width: 150px;
    border: #fff solid 7px;
}

.short-info .name{
    color: #fff;
    margin-left: 250px;

}


.title-3{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 0%;
}


a.cv{
    background-color: #e8eaed;
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 14px;
    color: #111;
    text-decoration: none;
    font-weight: 500;
}

a.hire{
    background-color: #37bc9b;
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.full-info{
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
}

.title-4{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.full-info .about{
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description{
    max-width: 500px;
}

.des{
    color: #6f7072;
}

tr td{
    padding-bottom: 10px;
}

td.des{
    padding-left: 20px;
}

hr{
    background-color: #b6b6b6 !important;
    color: #b6b6b6 !important;
    height: 0%;
    outline: none;
}

.skills{
    display: flex;
    justify-content: space-between;
}

label{
    margin-bottom: 6px !important;
}

progress {
    border: none;
    border-radius: 5px !important;
    width: 320px;
    height: 14px;
    background: #4989dc;
    margin-top: 7px;
}

progress {
    color: lightblue;
    border-radius: 5px !important;
}

progress::-moz-progress-bar {
    background: lightcolor;
    border-radius: 5px !important;
}

progress::-webkit-progress-value {
    background: #4989dc9c;
    border-radius: 5px !important;
}

progress::-webkit-progress-bar {
    background: #e4e4e4;
    border-radius: 5px !important;
}

.design progress::-webkit-progress-value {
    background: #37bc9b;
    border-radius: 5px !important;
}